* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(10, 10, 49);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 5rem 0;
}

footer{
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
footer  a{
  color: tomato;
  margin-left: .2rem;

}

.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}



/* header  */
.appname{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.appname h1{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* header  */
/* ======================== search bar  */


.main-div .searchbar input {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  width: 20vw;
}
.main-div .searchbar button {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  line-height: 2rem;
  font-size: 1rem;
  width: 8vw;
}
.main-div .searchbar input,
button {
  border: none;
  outline: none;
  background-color: white;
  padding: 1rem;
  font-weight: 600;
}
.main-div .searchbar button {
  background-color: rgb(255, 177, 163);
  cursor: pointer;
}

/*============== weather cards ============= */

.weather-card {
  background-color: white;
  color: black;
  margin-top: 4rem;
  width: 40vw;
  height: 50vh;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 50px rgb(7, 6, 26);
}

.card-left {
  background-color: rgba(255, 99, 71, 0.561);
  border-radius: 1rem;
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.527);
}
.weather-card .card-left .live-weather-icon i {
  font-size: 10rem;
}
.weather-card .card-left .live-temp-deg {
  font-size: 2.3rem;
  font-weight: 500;
}
.weather-card .card-left .live-temp-type {
  font-size: 2rem;
  font-weight: 500;
}

/* ==================Card right ============== */

.card-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 23vw;
  height: 100%;
}

.card-right-top,
.weatherplace {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  border-bottom: 1px solid rgb(6, 5, 20);
}

/* right mid  */

.card-mid-top,
.sub-weather-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin:0 0.8rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
.card-mid-top,
.sub-weather-info i {
  font-size: 2.8rem;
}
.card-mid-top,
.sub-weather-info p {
  font-size: .9rem;
  font-weight: 500;
  margin-left: .5rem;
  cursor: pointer;
}



/* ==================------------ Responsiveness  */

@media screen and (max-width: 900px) {
 
body{
  padding-bottom: 0 ;
}
/* header  */

.appname h1{
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

/* header  */
/* ======================== search bar  */

footer{
  position: static;
  bottom: 0;
  margin-top: 2rem;
font-size: .8rem;
}

.main-div .searchbar input {
 
  font-size: .9rem;
  line-height: 1rem;
  padding-left: 2rem;
  width: 60vw;
}
.main-div .searchbar button {
 
  line-height: 1rem;
  font-size: .8rem;
  width: 25vw;
}



/*============== weather cards ============= */

.weather-card {
  margin-top: 2rem;
  width: 90vw;
  height: 100%;
  flex-direction: column;
}

.card-left {
  margin: 1rem 0;
  width: 80vw;
  height: 100%;
  padding: 2rem;
}
.weather-card .card-left .live-weather-icon i {
  font-size: 7rem;
}
.weather-card .card-left .live-temp-deg {
  font-size: 2rem;
  font-weight: 500;
}
.weather-card .card-left .live-temp-type {
  font-size: 1.5rem;
  font-weight: 500;
}

/* ==================Card right ============== */

.card-right {
 
  width: 90vw;
  height: 100%;
  padding: 2rem 1rem;
}

.card-right-top,
.weatherplace {
  font-size: 1.5rem;
 
}

/* right mid  */

.card-mid-top,
.sub-weather-info i {
  font-size: 3rem;
}
.card-mid-top,
.sub-weather-info p {
  font-size: 1rem;
  margin-left: 1rem;
}
}


